*.o
.o
*~
test
count
data/1_minute_light_traffic/counted_frames
data/1_minute_light_traffic/processed_frames
data/1_minute_light_traffic/raw_frames
data/1_minute_medium_traffic/counted_frames
data/1_minute_medium_traffic/processed_frames
data/1_minute_medium_traffic/raw_frames

.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon