*.o
.o
*~
test
count
data/1_minute_light_traffic/frames
data/1_minute_medium_traffic/frames
data/speed_tracking/frames
data/speed_tracking_v2/frames
data/speed_tracking_v3/frames
data/speed_tracking_v4/frames
data/speed_tracking_v5/frames

traffic/traffic
traffic/speed
traffic/octave-workspace

511_traffic_camera/streetcam_frames

capture_data/frames

.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon